html, body{
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0;
  overflow: hidden;
}


/*
* Header Styles
*/
.header-Nav{
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 26px;
  box-sizing: border-box;
  background-color: #ccc;
  z-index: 1;
}

.leftSideWrapper{
  padding-top: 10px;
}

.rightSideWrapper{
  height: 45px;

}

.new-Playlist-Icon{
  cursor: pointer;
}
.new-Playlist-Icon:hover{
  opacity: .6;
}
.search-Container{
  height: 100%;
}
.search-Container .search-Input{
  height: 95%;
  border: none;
  background-color: #000;
  color: #fff;
  text-indent: 5px;
  padding-right: 25px;
}
.search-icon{
  color: #fff;
  position: relative;
  right: 31px;
  top: 2px;
  cursor: pointer;
}
.search-Container:hover> .search-icon{
  opacity: .75;
}

input[type="search"]::-webkit-search-cancel-button{
  display: none;
}
/**********/

/* Add playlist */

.new-PlaylistWrapper{
  display: none;
}
.new-PlaylistContainer{
  /* height: 150px;
  width: 200px; */
  /* display: none; */
}

.newPlaylistFormContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playlistPreview{
  height: 230px;
  width: 230px;
  background-color: rgba(0,0,0,.1);
}

.new-Playlist-Form{
  display: flex;
  flex-direction: column;
}
.new-Playlist-Form input{
  margin-bottom: 15px;
}
.new-Playlist-Form input[name="image"]{
  margin-bottom: 103px;
}

.addSongsFormContainer{
  margin-bottom: 15px;
}
.addMoreSongs:hover{
  opacity: .75;
  cursor: pointer;
}
form.addSongs{
  display: flex;
  margin-bottom: 10px;
}

form.addSongs input{
  margin: 0px 20px 10px 7px;
}
.newSongs{
  display: none;
}
.songs-btns{
  display: flex;
  justify-content: space-between;
}
.updateInfoBtn{
  display: none;
}
.updateSongsBtn{
  display: none;
}
/* ***** */

.mainContent{
  height: 240px;
  overflow-y: scroll;
  width: auto;
  padding:15px;
  /* margin: 0 auto; */
  margin-top: 110px;
  display: grid;
  row-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}

/* Active Playlist*/
.activePlaylistWrapper{
  display: none;
  padding: 15px;
  width: 82vh;
  border-radius: 500px;
  background-color: darkcyan;
  margin: 0 auto;
  margin-top: 135px;
}

.audioContainer{

}

.activeImage.albumWrapper{
  opacity: 1;
  display: flex;
  justify-content: center;
}

.pause{
  position: relative;
  top:47%;
}

.activePlay{
  position: relative;
  top:47%;
}

.activePlaylistBtns{
  display: grid;
}

.activePlaylistDelete, .activePlaylistUpdate{
  cursor: pointer;
}

.nowPlayingH{
  margin-top: 0;
}

.listPlay + span{
  opacity: 1;
}

/*
** Album Playlists
*/
.albumWrapper{
  height: 231px;
  width: 236px;
  border: 1px solid;
  border-radius: 50%;
  background-size: 100%;
  opacity: .85;
}
.albumWrapper:hover{
  opacity: 1;
}

.playlistName{
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  font-size: 1.2em;
  position: relative;
  bottom: 16px;
}

.editBtn{
  display: none;
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
}
.deleteBtn{
  display: none;
  font-size: 1.45em;
  margin-left: 39%;
  margin-right: 25px; 
  cursor: pointer;
}
.playBtn{
  display: none;
  font-size: 2.5em;
  position: relative;
  top: 21%;
  left: 42%;
  cursor: pointer;
}
.albumWrapper:hover .editBtn, .albumWrapper:hover .deleteBtn{
  display: inline;
}
.albumWrapper:hover .playBtn{
  display: block;
}

ol li{
  list-style: none;
}

span.songName{
  margin-left: 10px;
  opacity: .85;
}